/** @format */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,300&family=Roboto+Slab&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #aec6cf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  z-index: 1;
  text-align: center;
}
